.vscode
.idea
.worktrees/
*.o
*.tmp
bpf*_bpfeb*.go
bpf*_bpfel*.go
bpf*_*_bpfeb*.go
bpf*_*_bpfel*.go
dae
dae-*
docs/superpowers/handoffs/
outline.json
go-mod/
node_modules/
*.log
.build_tags
.checkpatch-camelcase.git.
venv
CLAUDE.md
AGENTS.md
.sisyphustst
.qwen
tests/
